<!DOCTYPE html>
<link rel="stylesheet" type="text/css" th:href="@{/jystyle.css}">
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>	
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>	
	<title>MyPage | COPPER & BRASS</title>
</head>
<script>


const token = $("meta[name='_csrf']").attr("content");
const header = $("meta[name='_csrf_header']").attr("content");


	$(function(){
		$(".purchase-click").click(function(){
			
			let status_value = $(this).attr("value");
			let orderid = "[[${targetPurchase.orderid}]]";
			let now_status = "[[${targetPurchase.deposit}]]";
			
			
			if(now_status == 0 && status_value == 0){
				alert("You cannot cancel the first thing.");
				return;
			}
			else if (now_status == status_value){
				if(confirm("Are you sure you want to cancel this step?")){
					status_value = status_value - 1;	
				}else{
					return;
				}	
			}else if(now_status - status_value > 1){
				alert("step by step : cancel");
				return;
			}else if(status_value - now_status > 1){
				alert("step by step : check");
				return;
			}
			
			$.ajax({
				type:"POST",
				url:"/copperbrass/history-config-details/status",
				data:{"status_value":status_value,
				"orderid":orderid},
				
			    //추가해야 하는 부분
			    beforeSend : function(xhr) {
			        xhr.setRequestHeader(header, token);
			    },
				
				success:function(productList){
					console.log("성공");
					location.reload();

				}, //success
			    error: function (xhr, status, error) {
			        console.error("오류 발생:", status, error, xhr.responseText);
			        alert("Error: " + xhr.responseText);
			    }				
			});//ajax							
		});//click			
	});//ready
		
	$(function(){
		$(".refund-click").click(function(){
			
			let status_value = $(this).attr("value");
			let orderid = "[[${targetPurchase.orderid}]]";
			let now_status = "[[${refundhistory != null && refundhistory.status != null ? refundhistory.status : 'No Status'}]]";

			if(now_status == 1 && status_value == 1){
				alert("You cannot cancel the first thing.");
				return;
			}
			else if (now_status == status_value){
				if(confirm("Are you sure you want to cancel this step?")){
					status_value = status_value - 1;	
				}else{
					return;
				}	
			}else if(now_status - status_value > 1){
				alert("step by step : cancel");
				return;
			}else if(status_value - now_status > 1){
				alert("step by step : check");
				return;
			}

			$.ajax({
				type:"POST",
				url:"/copperbrass/history-config-details/refundStatus",
				data:{"status_value":status_value,
				"orderid":orderid},
				
			    //추가해야 하는 부분
			    beforeSend : function(xhr) {
			        xhr.setRequestHeader(header, token);
			    },
				
				success:function(productList){
					console.log("성공");
					location.reload();

				}, //success
			    error: function (xhr, status, error) {
			        console.error("오류 발생:", status, error, xhr.responseText);
			        alert("Error: " + xhr.responseText);
			    }				
			});//ajax							
		});//click			
	});//ready
		
	
</script>
<body>
	<nav th:replace="~{header :: navbarFragment}"></nav>
	<div class="total">
		<div class=" colorheader" >
		My Page
		</div>
	</div>
<br><br>
	<div class="total">
		<div class="maincontent2">
			<div class="myPagetitle">Purchase history</div>
			
			<br><br>
			<div class="status">
				<div class="myPagetitle2">🟢 Purchase Status</div>
			</div>
			<div class="status">
				<div class="status-set">				 				
					<div class="status-item2" th:text="${T(java.lang.Integer).parseInt(targetPurchase.deposit) >= 0 ? '●' : '○'}"></div>
					<div class="status-item">Waiting for<br>deposit</div>
					<div class="status-click purchase-click" value="0" th:text="${T(java.lang.Integer).parseInt(targetPurchase.deposit) >= 0 ? '✅' : '🔲'}"></div>
				</div>
				<div class="status-set">
					<div class="status-item2" th:text="${T(java.lang.Integer).parseInt(targetPurchase.deposit) >= 1 ? '●' : '○'}"></div>
					<div class="status-item">Deposit<br>confirmation</div>
					<div class="status-click purchase-click" value="1" th:text="${T(java.lang.Integer).parseInt(targetPurchase.deposit) >= 1 ? '✅' : '🔲'}"></div>
				</div>
				<div class="status-set">
					<div class="status-item2" th:text="${T(java.lang.Integer).parseInt(targetPurchase.deposit) >= 2 ? '●' : '○'}"></div>
					<div class="status-item">Preparing for<br>delivery</div>
					<div class="status-click purchase-click" value="2" th:text="${T(java.lang.Integer).parseInt(targetPurchase.deposit) >= 2 ? '✅' : '🔲'}"></div>
				</div>
				<div class="status-set">
					<div class="status-item2" th:text="${T(java.lang.Integer).parseInt(targetPurchase.deposit) >= 3 ? '●' : '○'}"></div>
					<div class="status-item">In delivery</div>
					<div class="status-click purchase-click" value="3" th:text="${T(java.lang.Integer).parseInt(targetPurchase.deposit) >= 3 ? '✅' : '🔲'}"></div>
				</div>
				<div class="status-set">
					<div class="status-item2" th:text="${T(java.lang.Integer).parseInt(targetPurchase.deposit) >= 4 ? '●' : '○'}"></div>
					<div class="status-item">Delivery<br>completed</div>
					<div class="status-click purchase-click" value="4" th:text="${T(java.lang.Integer).parseInt(targetPurchase.deposit) >= 4 ? '✅' : '🔲'}"></div>
				</div>	
			</div>
			
			<br>
			<div class="status">
				<div class="myPagetitle2">🔵 Refund Status</div>
			</div>			
			<div class="status">
				<div class="status-set">				 				
					<div class="status-item2" th:text="${refundhistory != null && refundhistory.status != null && T(java.lang.Integer).parseInt(refundhistory.status) >= 1 ? '●' : '○'}"></span>></div>
					<div class="status-item">Request<br>a refund</div>
					<div class="status-click refund-click" value="1" th:text="${refundhistory != null && refundhistory.status != null && T(java.lang.Integer).parseInt(refundhistory.status) >= 1 ? '✅' : '🔲'}"></div>
				</div>
				<div class="status-set">
					<div class="status-item2" th:text="${refundhistory != null && refundhistory.status != null && T(java.lang.Integer).parseInt(refundhistory.status) >= 2 ? '●' : '○'}"></div>
					<div class="status-item">Refund<br>confirmation</div>
					<div class="status-click refund-click" value="2" th:text="${refundhistory != null && refundhistory.status != null && T(java.lang.Integer).parseInt(refundhistory.status) >= 2 ? '✅' : '🔲'}"></div>
				</div>
				<div class="status-set">
					<div class="status-item2" th:text="${refundhistory != null && refundhistory.status != null && T(java.lang.Integer).parseInt(refundhistory.status) >= 3 ? '●' : '○'}"></div>
					<div class="status-item">Refund<br>completed</div>
					<div class="status-click refund-click" value="3" th:text="${refundhistory != null && refundhistory.status != null && T(java.lang.Integer).parseInt(refundhistory.status) >= 3 ? '✅' : '🔲'}"></div>
				</div>				
			</div>	
					
		</div>
	</div>
<!--<span th:text="${T(java.lang.Integer).parseInt(refundhistory.status)}"></span>-->
	<!--<div th:text="${refundhistory.status}"></div>-->
	<div class="total">
		<div class="maincontent">	
			<br>
	        <table class="stocksDTable" >
	            <thead>
	                <tr>
						<th></th>
						<th>Img</th>
	                    <th>Product</th>
	                    <th>Count</th>
	                    <th>Price</th>
	                    <th>Status</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="detail : ${purchasedetails}" th:classappend="${detail.status == 'Refunded'} ? 'refunded-row' : ''">
						<td></td>
						<td><img th:src="@{${detail.stock.imgsrc}}" alt="Stock Image" width="50" height="50"/></td>
	                    <td th:text="${detail.stock.name}"></td>
	                    <td th:text="${detail.count}"></td>
	                    <td th:text="${detail.price}"></td>
	                    <td th:text="${detail.status}"></td>
	                </tr>
	            </tbody>
	        </table>	
		</div>
	</div>
	<div class="total">
		<div class="maincontent">	
			<div class="button-left">		
				<button class="greybtn" th:onclick="location.href='javascript:history.back();'">previous</button>
			</div>				
			<div class="button-right">
<!--				<button class="refunbtn">Refund</button>
				<button class="confirmedbtn">Confirmed</button>-->
			</div>
		</div>
	</div>	
	
	<br>
	
	

<!-- https://apost.dev/862/ -->
<div >
</div>

    

	<div style="width: 80%;">
	<br>

</div>

	
	<br><br><br><br>

	<br><br><br>
	<nav th:replace="~{footer :: FooterFragment}"></nav>	
</body>

<script src="https: //code.jquery.com/jquery-1.11.3.js" type="text/javascript"></script> 
<script th:inline="javascript">
	function view(id){
		alert(id);
	}
</script>

</html>



